{% extends "base.html" %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Records</h1>
            </div>
        </div>
        {% for record in records %}
            <div class="row">
                <div class="col-xs-4">
                    {{ record.name }}
                </div>
                <div class="col-xs-8">
                    {{ record.description }}
                </div>
            </div>
        {% endfor %}
        {% if prev_page or next_page %}
            <div class="row">
                <div class="col-xs-12 text-center">
                    <nav>
                        <ul class="pager">
                            {% if prev_page %}
                                <li class="previous"><a href="{% url 'records' %}?page={{ prev_page }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
                            {% else %}
                                <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
                            {% endif %}
                            {% if next_page %}
                                <li class="next"><a href="{% url 'records' %}?page={{ next_page }}">Next <span aria-hidden="true">&rarr;</span></a></li>
                            {% else %}
                                <li class="next disabled"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
