{% extends "base.html" %}


{% block content %}
    {% include "partials/_record_list.html" %}
{% end %}

{% block js %}
    <script type="text/javascript">
        function createRecord() {
            $("#overlay").fadeIn(25);
            $.ajax({
                url: "{{ urls.records }}",
                type: "POST",
                data: $("#record").serialize() + "&create&page={{ page }}",
                success: function(json) {
                    if (json["status"] === "create"){
                        $("#record-list").replaceWith(json["record_list"]);
                    }
                    $("#overlay").fadeOut(25);
                },
                error: function(xhr, errmsg, err) {
                    $("#overlay").fadeOut(25);
                }
            });
        };

        function updateRecord(uid) {
            $("#overlay").fadeIn(25);
            $.ajax({
                url: "{{ urls.records }}",
                type: "POST",
                data: $("#record-"+uid).serialize() + "&update&page={{ page }}",
                success: function(json) {
                    if (json["status"] === "update") {
                        $("#record-list").replaceWith(json["record_list"]);
                    }
                    $("#overlay").fadeOut(25);
                },
                error: function(xhr, errmsg, err) {
                    $("#overlay").fadeOut(25);
                }
            });
        };

        function deleteRecord(uid) {
            $("#overlay").fadeIn(25);
            $.ajax({
                url: "{{ urls.records }}",
                type: "POST",
                data: $("#record-"+uid).serialize() + "&delete&page={{ page }}",
                success: function(json) {
                    if (json["status"] === "delete") {
                        $("#record-list").replaceWith(json["record_list"]);
                    }
                    $("#overlay").fadeOut(25);
                },
                error: function(xhr, errmsg, err) {
                    $("#overlay").fadeOut(25);
                }
            });
        };
    </script>
{% end %}
