.row {
    margin-left: -5px !important;
    margin-right: -5px !important;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7,
.col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.element {
    margin-top: 5px;
}

.rowtext {
    width: 100%;
    max-width: 100%;
    min-height: 40px;
}
